<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer | E-Commerce Store</title>
    <!-- EXTERNAL LINKS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/footer.css">
</head>

<body>
    <footer>
        <section>    
            <div id="containerFooter">
                
                <div class="webFooter">
                    <h3>Shop</h3>
                    <p>Clothing</p>
                    
                    <p> Accessories</p>
                    
                </div>
                <div class="webFooter">
                    <h3>Quick Links</h3>
                    <p>Home</p>
                    <p>About Us</p>
                    <p>Contact Us</p>
                </div>
                <div class="webFooter">
                    <h3>Our Partners</h3>
                    <p>Zara</p>
                    <p>Pantaloons</p>
                    <p>Levi's</p>
                    <p>UCB</p>
                    <p>+ Many More</p>
                </div>
                <div class="webFooter">
                    <h3>Our Address</h3>
                    <p>101 E-Commerce Street</p>
                    <p>New York, NY 10001</p>
                    <p>United States</p>
                </div>
            </div>
            <div id="credit"><a href="#">© E-Commerce Store</a> | <a href="https://www.example.com/" target="_blank">Visit our website</a></div>
        </section>
    </footer>
</body>
</html>
